#
# SPDX-FileCopyrightText: Copyright 2022-2025 Arm Limited and/or its affiliates <open-source-office@arm.com>
# SPDX-License-Identifier: Apache-2.0
#

# Repo
.repo

# Python bytecode
__pycache__/
*.py[cod]

# Build artifacts
/build*
dist/

# Unit test / coverage reports
.cache
.pytest_cache/

# Sphinx documentation
docs/_build/

# Environments
.env
.venv
env/
venv/

# Generated IDE files
.idea/
.vs/
.vscode/

# test output
test/output/
.claude/
